# Yellow Duck Framework version 2.1
# (c) copyright 2002-2007 Pieter Claerhout, pieter@yellowduck.be

# Denying direct access to the templates
<FilesMatch "(tpl|config.php|includes|index.db)$">
    Order allow,deny
    Deny from all
</FilesMatch>
