BODY {
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial;
	font-size: 13px;
	line-height: 1.3;
	color: #000000;
}

pre.programlisting, .literal {
	font-family: "Lucida Sans TypeWriter", "Lucida Console", "Courier New", "Courier";
}

pre.programlisting {
	background-color: #E0E0E0;
}

img {
	border: 0px solid black
}

a, a:active, a:visited, a:hover {
	color: darkred
}
