# Disallow directory browsing
Options -Indexes

# Remap all requests to index.php, except for:
# - index.php
# - admin.php
# - images
# - robots.txt
# - uploads
RewriteEngine on
RewriteCond $1 !^(admin\.php|index\.php|images|robots\.txt|uploads)
RewriteRule ^(.*).html index.php\?q=$1 [L,QSA]
